<nav class="navbar bg-dark navbar-expand-md bg-body-tertiary fixed-top m0 p0">
    <div class="container-fluid">

      <div class="navbar-brand">
        <img src="../assets/img/ataturk.png" class="img-fluid ms-2" width=30 height=10 alt="ataturk"/>
        <a href="#" class="navbar-brand ms-2">Sayin Technologies</a>
      </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="../hakkimda.html">Hakkımda</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../ozgecmis.html">Öz Geçmiş</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown">
                  Şehrim
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="../sehrimiz.html">Yalova</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="../takimimiz.html">Mirasımız</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../ilgialanim.html">İlgi Alanım</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../iletisim.html">İletişim</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../giris.html">
                    <button type="button" class="btn btn-primary">Giriş</button>
                </a>
              </li>
            </ul>

        </div>
        
    </div>
</nav>