.page-info-title{
    color: #339BFF;
    margin-top: 75px;
    margin-bottom: 1rem;
    font-size: 1.25rem;
}

.blue{
    color: #339BFF;
}

.card-icon{
    width: 50px;
    height: 50px;
}

.portrait{
    width: 150px;
    height: 150px;
    margin-top: 10px;
}

#first-item{
    margin-top: 75px;
}

article{
    margin: 0;
}

html{
    scroll-padding-top: 95px;
 }

#carouselHero .carousel-item img{
    object-fit: cover;
    object-position: center;
    height: 90vh;
    overflow: hidden;
}

@media (min-width: 768px){
    .page-info-title{
        margin-top: 0;
    }
    .card-container{
        margin-top: 75px;
    }    
}
